/* Set the background color for the whole webpage. */
body{
    background-color: rgb(111, 42, 177);
}

/* Sets the sections to expand to fill the page on taller viewports. */
.section {
    flex: 1;
}

/* Sets the navbar burger menu colors to match the website themes. */
@media screen and (max-width: 1023px) {
    .navbar-menu {
      background-color: purple !important;
    
    }
    .navbar-menu .navbar-item{
        color: white;
      
      }
      .navbar-menu .navbar-item:hover{
        background-color: rgb(41, 0, 41) ;
        color: white;
      }
}

/* Hides the computer image and centers the text on the Hero components.*/
@media screen and (max-width: 768px) {
    .hide-on-mobile{
        display: none;
    }
    .hero-titles{
        text-align: center !important;
    }
}